.map-btn,
.ol-custom-control>button {
    cursor: pointer;
    display: flex;
    font-size: 1.5em;
    margin: 0em;
    padding: 0.4em;
    border-radius: 0.25em;
    border: 0.08em solid transparent;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    -webkit-text-fill-color: inherit;
    color: inherit;
    background: rgb(233, 233, 237);
    &.--icon {
        background: transparent;
    }
    &.--no-int {
        cursor: initial;
        background: transparent;
    }
    &:not(.--no-int):focus,
    &:not(.--no-int):hover {
        -webkit-text-fill-color: grey;
        color: grey;
        text-decoration: none;
        background: rgb(240, 240, 250);
        // border-color: grey;
    }
    &:not(.--no-int):active {
        background: lightgray;
    }
    &::-moz-focus-inner {
        border: none;
        padding: 0;
    }
    &.--dropdown {
        -webkit-text-fill-color: white !important;
        color: white !important;
        background-color: black !important;
        border-radius: 7px 0 0 7px;
    }
    &.--dropdown::after {
        content: "";
        position: absolute;
        left: 100%;
        border-radius: 0;
        border-top: 0.4em solid transparent;
        border-bottom: 0.4em solid transparent;
        border-left: 0.4em solid black;
        box-shadow: 0px 2px 8px -3px black;
    }
}

.ol-custom-control {
    position: initial;
    background: transparent;
    border-radius: 0.4em;
    margin: 0 0 0.55rem 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0.15em 0.5em -0.2em black;
}

.ol-custom-control>button {
    -webkit-text-fill-color: black;
    color: black;
    height: 2em;
    width: 2em;
    border-radius: unset;
    background-color: white;
    border: none;
    &:not(:first-of-type) {
        border-top: 0.05em solid lightgray;
    }
}