@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('tippy.js/dist/tippy.css');
@import 'tippy.js/animations/shift-toward-extreme.css';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');
// old dynamic length base was calc(2rem + 1vh);
// z-index Groups
//// 0-100 - Normal Positioning
//// 200 - Control Groupings
//// 250 - Feature Modals
//// 300 - Control Panels
//// 350 - Autocomplete Results
//// 400 - Toast Messages
//// 500 - Full Screen Info Modals
* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    margin: 0 !important;
    font-size: 100%;
}

.ol-control>button {
    cursor: pointer !important;
}

.ol-scale-line {
    background: rgba(0, 0, 0, 0.5) !important;
    bottom: 0.45rem !important;
    left: 0.5rem !important;
    border-radius: 2px !important;
    padding: 0.2em !important;
}

.ol-scale-line-inner {
    border-top: none !important;
    font: 0.75rem 'Segoe UI', 'Open Sans', sans-serif !important;
    height: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ol-attribution {
    bottom: 2rem !important;
    padding: 0rem !important;
    &.ol-collapsed {
        background-color: transparent !important;
    }
    &:not(.ol-collapsed) {
        background-color: white !important;
        border: 1px solid rgba(0, 0, 0, 0.5) !important;
    }
    ul {
        &::before {
            content: "Attributions";
            font-size: 1rem;
            display: block;
            font-weight: 600;
            text-align: center;
        }
        max-width: 20rem;
        max-height: 30vh;
        overflow-y: auto;
        list-style-type: circle;
        text-align: center;
        margin: 0.5em !important;
        li {
            font-size: .9rem;
        }
        li:not(:last-child)::after {
            content: ", " !important;
            font-size: 1rem;
            display: inline;
        }
    }
    button {
        margin: 0 !important;
        height: calc(1.2rem + 3px) !important;
        width: calc(1.2rem + 3px) !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
        position: fixed;
        bottom: 0.45rem;
        padding: 0 !important;
        font-size: 1rem !important;
        font-weight: 600 !important;
    }
}

.tippy-box[data-theme~='map-light'] {
    box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 0.5em;
    background: white;
    .tippy-content {
        padding: 0.3em 0.5em;
    }
}

.tippy-dropdown-div {
    display: flex;
    flex-direction: column;
    button {
        text-align: center;
        height: 2.5em;
        padding: 0.25em;
        font-size: 1em;
        text-align: left;
        background: none;
        border: none;
        cursor: pointer;
        margin: 0;
        &::before {
            content: "\25CC";
            font-size: 1.25em;
            margin-right: 0.15em;
        }
        &:hover {
            &::before {
                content: "\25CB";
            }
        }
        &[data-active~='true'] {
            &::before {
                content: "\25CF";
            }
        }
        &:active {
            color: grey;
            -webkit-text-fill-color: grey;
        }
    }
}

.ol-custom-control {
    position: initial;
    background-color: transparent;
    border-radius: 0.5em;
    margin: 0 0 0.55rem 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 2px 8px -3px black;
}

.ol-custom-control>button {
    cursor: pointer;
    display: flex;
    margin: 0rem;
    padding: 0.3em;
    -webkit-text-fill-color: black;
    color: black;
    font-size: inherit;
    text-align: center;
    height: 2.85em;
    width: 2.85em;
    background-color: white;
    text-align: center;
    border: none;
    justify-content: center;
    align-items: center;
    svg {
        display: flex;
        font-size: 1.5rem;
        pointer-events: none;
    }
    &:not(:first-of-type) {
        border-top: 0.05em solid lightgray;
    }
    &.dropdown-open {
        -webkit-text-fill-color: white !important;
        color: white !important;
        background-color: black !important;
        border-radius: 7px 0 0 7px;
        &::after {
            content: "";
            position: absolute;
            left: 100%;
            border-radius: 0;
            border-top: 0.4em solid transparent;
            border-bottom: 0.4em solid transparent;
            border-left: 0.4em solid black;
            box-shadow: 0px 2px 8px -3px black;
        }
    }
}

.ol-custom-control>button::-moz-focus-inner {
    border: none;
    padding: 0;
}

.ol-custom-control>button:hover,
.ol-custom-control>button:focus {
    text-decoration: none;
    -webkit-text-fill-color: grey;
    color: grey;
    background-color: rgb(240 240 250);
}

.webmap-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 1.5em;
    -webkit-text-fill-color: inherit;
    color: inherit;
    background: transparent;
    border-radius: 0.25em;
    padding: 0.25em;
    border: 0.08em solid transparent;
    svg {
        display: flex;
        pointer-events: none;
    }
    &:not(.no-interaction) {
        cursor: pointer;
    }
    &:not(.no-interaction):hover {
        -webkit-text-fill-color: grey;
        color: grey;
        background: rgb(240 240 250);
        border-color: grey;
    }
    &:not(.no-interaction):active {
        background: lightgray;
    }
}

#controltb-top-left {
    display: flex;
    left: 0.55rem;
    transition: left 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 3.95rem;
    position: absolute;
    font-size: 1rem;
    flex-direction: column;
     :last-child {
        margin-bottom: 0px;
    }
    &.pane-open {
        @media only screen and (min-width: 576px) {
            left: calc(350px + 1.1rem);
            transition: left 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}

#controltb-top {
    display: flex;
    flex-direction: row;
    left: 0.55rem;
    top: 0.55rem;
    position: absolute;
    font-size: 1rem;
    width: calc(350px + 3.35rem);
    box-shadow: 0px 2px 8px -3px black;
    border-radius: 0.5rem;
    height: 2.85rem;
    overflow: hidden;
    background: white;
    .ol-custom-control {
        margin: 0;
        background: transparent;
        border-radius: 0;
    }
    @media only screen and (max-width: 576px) {
        width: calc(100vw - 1.1rem);
    }
}

#controlpn-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 350px;
    left: 0.55rem;
    top: 3.95rem;
    height: calc(100vh - 6.5rem);
    background: slategray;
    z-index: 300;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 8px -3px black;
    transition-property: width, flex, min-width, overflow, border-right;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    @media only screen and (max-width: 576px) {
        width: calc(100vw - 1.1rem);
    }
    .pane-section-container {
        display: none;
        height: calc(100% - 6rem);
        width: calc(100% - 1.5rem);
        font-size: 1rem;
        margin: 0.75rem;
        border-radius: 7px;
        flex-direction: column;
        background: white;
        padding: 0.75rem;
        overflow-y: auto;
        &.active {
            display: flex;
            animation-name: movein;
            animation-duration: 450ms;
        }
    }
    &.pane-hidden {
        width: 0rem;
        flex: 0 0 0%;
        min-width: 0rem;
        overflow: hidden;
        border-right: none;
        transition-property: width, flex, min-width, overflow, border-right;
        transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

#pane-section-title {
    -webkit-text-fill-color: white;
    color: white;
    margin: 0 0.75rem;
    padding: 0 0 0.25rem 0;
    text-transform: uppercase;
    font-weight: lighter;
    border-bottom: 0.1rem dotted white;
    line-height: 1.5rem;
}

#pane-sections {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    font-size: 1.1rem;
    div.pane-section {
        color: white;
        -webkit-text-fill-color: white;
        padding: 0.75rem;
        display: flex;
        input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            cursor: pointer;
        }
        label.webmap-btn {
            font-size: 1.75rem;
            border-color: white;
        }
        input:checked~label.webmap-btn {
            background: rgb(240 240 250) !important;
            transition: background, color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
            color: black !important;
            -webkit-text-fill-color: black !important;
        }
    }
}

#pointer-tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0px 8px 8px 8px;
    padding: 0.1rem;
    // transform: translate(66%, 140%);
    box-shadow: 0px 2px 8px -4px black;
    max-width: 12rem;
}

.map-table {
    width: 100%;
    height: 100%;
    th {
        font-size: 1rem;
        font-weight: 500;
    }
    td {
        font-size: 0.85rem;
        padding: 0.15rem 0.33rem;
    }
    &.basic {
        text-align: center;
        border-spacing: 0.25rem;
        td {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }
    }
    &.attribute {
        border-spacing: 0.25rem;
        text-align: center;
        th {
            display: none;
            background: rgba(0, 0, 0, 0.1);
        }
        .prop {
            width: 40%;
            font-weight: 600;
            text-align: left;
        }
        .val {
            border: 1px solid rgb(220, 220, 220);
            border-radius: 0.3rem;
        }
        tr:hover {
            .prop {
                text-decoration: underline;
            }
            .val {
                background: aliceblue;
            }
        }
    }
    &.legend {
        width: unset;
        height: unset;
        flex: 1 1 100%;
        margin: 0.5rem;
        border-collapse: collapse;
        tr {
            display: flex;
            flex-direction: row;
        }
        td {
            display: flex;
        }
        td.label {
            width: calc(100% - 3rem);
        }
        td.patch {
            font-size: 2.5rem;
            img {
                max-width: 2rem;
            }
        }
    }
}

.search-element {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    color: black;
    -webkit-text-fill-color: black;
    background: transparent !important;
    height: 2.85em !important;
    border-radius: 0 !important;
    border: none;
    cursor: text;
    align-self: center;
    .search-icon {
        color: black;
        -webkit-text-fill-color: black;
        width: 2.85rem;
        font-size: 1.5rem;
    }
    input {
        border: none;
        font-size: 1rem;
        flex: 1 1 auto;
        margin-right: 0.55rem;
        border: 1px solid transparent;
        &:focus-visible,
        &:active {
            outline: none;
            border-bottom: 1px solid lightgray;
        }
    }
    #search-clear {
        display: none;
    }
}

.autocomplete-items {
    position: fixed;
    top: calc(0.55rem + 2.85rem);
    left: calc(0.55rem + 2.85rem + 2.85rem);
    width: calc(350px - 5.15em);
    padding: 0 0.5em 0.5em 0.5em;
    z-index: 350;
    background: white;
    box-shadow: 1px 3px 8px -4px black;
    border-radius: 0 0 0.5em 0.5em;
    border: 0.125em solid rgba(0, 0, 0, 0.5);
    border-top: none;
    div {
        padding: 0.5em;
        cursor: pointer;
        background-color: white;
        &:not(:first-of-type) {
            border-top: 0.1em solid lightgray;
        }
        &.empty-results {
            cursor: auto;
        }
        &:not(.empty-results):hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }
    }
    @media only screen and (max-width: 576px) {
        width: calc(100vw - 9.5rem);
    }
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.lyrs-list {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.lyrs-control {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
    .layer-sort-control {
        flex: 0 1 30%;
    }
}

.lyrs-item {
    display: flex;
    align-items: center;
    border-top: 0.5px solid lightgray;
    flex-wrap: wrap;
    padding: 0.25rem 0;
    &.hidden {
        display: none;
    }
    &:not(.hidden):first-of-type {
        border-top: none !important;
    }
    .lyrs-item-label {
        cursor: pointer;
        flex: 1 1 70%;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .group {
            font-size: 0.66rem;
            font-weight: bold;
            color: rgb(148, 160, 172);
            text-transform: uppercase;
        }
    }
    .lyrs-item-info {
        flex: 1 1 15%;
        font-size: 1rem;
        -webkit-text-fill-color: slategray;
        color: slategray;
    }
    input {
        cursor: pointer;
        width: 1.5rem;
    }
    &:hover label {
        font-weight: 600;
         :first-child {
            text-decoration: underline;
        }
    }
    .lyrs-legend {
        flex: 1 1 100%;
        display: flex;
        padding: 0.25rem 0.75rem;
    }
}

input.hide-input,
.hide-input input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.input-field-group {
    display: flex;
    flex: 0 1 4rem;
    align-items: center;
    padding: 0.3rem 0.15rem;
    &:not(:first-of-type):not(.hide-input) {
        border-top: 0.5px solid lightgray;
    }
    &.full-width {
        flex: 1 1 100%;
    }
    &.hide-input {
        flex: 1 1 auto;
    }
    .webmap-btn {
        font-size: 1.2rem;
        padding: 0.2rem;
        border: 0.15rem solid transparent;
    }
    label,
    input,
    select {
        cursor: pointer;
        white-space: normal;
        padding: 0.2rem;
        border-radius: 0.25rem;
        border: 0.15rem solid transparent;
    }
    label:not(.webmap-btn) {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        svg {
            pointer-events: none;
            display: flex;
        }
    }
    &.hide-input label:not(.webmap-btn) {
        flex: 1 1 auto;
        color: lightgray;
        -webkit-text-fill-color: lightgray;
        background: transparent;
        border: 0.15rem solid lightgray;
        justify-content: center;
        &:hover {
            color: grey;
            -webkit-text-fill-color: grey;
            border-color: grey;
        }
        &:active {
            background: lightgray;
        }
    }
    &.hide-input input,
    input.hide-input {
        &:checked+label {
            color: black;
            -webkit-text-fill-color: black;
            border-color: black;
        }
    }
    select {
        background: rgb(225, 225, 225);
        flex: 1 1 auto;
    }
}

#toast-element {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 400;
    bottom: 2.55rem;
    left: 0.55rem;
    right: 0.55rem;
    &.hidden {
        display: none;
    }
    &.warning .toast-container {
        background: salmon !important;
    }
    &.info .toast-container {
        background: rgb(135, 206, 250) !important;
    }
}

.toast-container {
    border-radius: 0.4rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100vw - 1.1rem);
    pointer-events: fill;
    background: white;
    border: 0.15rem solid black;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    @media only screen and (max-width: 576px) {
        width: 100%;
    }
}

.toast-header {
    display: flex;
    align-items: center;
    font-weight: 600;
    .toast-icon {
        color: black;
        -webkit-text-fill-color: black;
    }
    .webmap-btn {
        border: none;
        padding: 0.3rem;
    }
    .toast-title {
        font-size: 1.1rem;
        padding: 0 1rem;
        border-right: 0.1rem solid;
    }
}

.toast-body {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0.1rem;
    flex-direction: row;
    border-radius: 0.2rem;
    justify-content: center;
    background: rgb(198, 204, 210);
    margin-top: 0.25rem;
    .webmap-btn {
        font-size: 1.2rem;
    }
}

#toast-timer {
    width: 100%;
    height: 0.5rem;
    background: white;
    border-radius: 1rem;
    margin: 0.5rem 0 0 0;
    border: 0.1rem solid lightgray;
    div {
        height: 100%;
        width: 0%;
        background: lightgray;
        border-radius: 1rem;
        transform-origin: 0% 50%;
        animation-timing-function: linear;
    }
}

#modal-element {
    position: fixed;
    display: flex;
    bottom: 2.55rem;
    left: 0.55rem;
    right: 0.55rem;
    &.feature-detail {
        z-index: 250;
        justify-content: flex-end;
    }
    &.info {
        z-index: 500;
        background: rgb(135, 206, 250) !important;
    }
}

.modal-container {
    border-radius: 0.3rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: fill;
    background: white;
    border: 0.25rem solid lightgrey;
    box-shadow: 0px 2px 8px -3px black;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    max-width: calc(100vw - 1.65rem - 350px);
    max-height: 50vh;
    width: 30rem;
    @media only screen and (max-width: 576px) {
        max-width: unset;
        width: calc(100vw - 1.1rem);
    }
}

.modal-header {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: 0.1rem solid lightgray;
    padding-bottom: 0.5rem;
    .webmap-btn {
        align-self: flex-start;
    }
    h3 {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        font-size: 1.1rem;
        font-weight: normal;
        margin: 0;
        span:nth-of-type(2) {
            -webkit-text-fill-color: #94a0ac;
            color: #94a0ac;
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.modal-body {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    margin: 0.5rem 0;
    .webmap-btn {
        font-size: 1.2rem;
    }
}

.modal-actions {
    width: 100%;
    font-size: 0.75rem;
    border-top: 0.1rem solid lightgray;
    padding-top: 0.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes movein {
    0% {
        opacity: 0;
        overflow-y: hidden;
    }
    100% {
        opacity: 1;
        overflow-y: auto;
    }
}
