@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('tippy.js/dist/tippy.css');
@import 'tippy.js/animations/shift-toward-extreme.css';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');
// old dynamic length base was calc(2rem + 1vh);
// z-index Groups
//// 0-100 - Normal Positioning
//// 200 - Control Groupings
//// 250 - Feature Modals
//// 300 - Control Panels
//// 350 - Autocomplete Results
//// 400 - Toast Messages
//// 500 - Full Screen Info Modals
* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    margin: 0 !important;
    font-size: 100%;
}

.ol-control>button {
    cursor: pointer !important;
}

.ol-scale-line {
    background: none !important;
    bottom: .3rem !important;
    left: .5rem !important;
}

.ol-scale-line-inner {
    border: 0.1rem solid grey !important;
    border-top: none !important;
    color: grey !important;
    font: 0.75rem 'Segoe UI', 'Open Sans', sans-serif !important;
    height: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ol-attribution {
    bottom: .15em !important;
    &.ol-collapsed {
        background-color: transparent !important;
    }
    &:not(.ol-collapsed) {
        background-color: white !important;
    }
    ul {
        &::before {
            content: "Attributions";
            font-size: 1rem;
            display: block;
            font-weight: 600;
            text-align: center;
        }
        max-width: 20rem;
        list-style-type: circle;
        text-align: center;
        li {
            font-size: .9rem;
        }
        li:not(:last-child)::after {
            content: ", " !important;
            font-size: 1rem;
            display: inline;
        }
    }
    button {
        background-color: rgba(0, 0, 0, 0.5) !important;
        border-radius: 0.15em !important;
        cursor: pointer;
        align-self: flex-end;
    }
}

.tippy-box[data-theme~='map-light'] {
    box-shadow: 0px 2px 8px -3px black;
    border-radius: 0 6px 6px 6px;
    background: white;
}

.tippy-dropdown-div {
    display: flex;
    flex-direction: column;
    button {
        height: 2.85rem;
        font: inherit;
        text-align: left;
        background: none;
        border: none;
        cursor: pointer;
        border-radius: 0.3rem;
        margin: 0 0.2rem;
        &:hover {
            background: rgb(240 240 250);
        }
        &:active {
            color: grey;
            -webkit-text-fill-color: grey;
        }
    }
}

.webmap-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 1.5rem;
    -webkit-text-fill-color: inherit;
    color: inherit;
    background: transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 0.15rem solid transparent;
    // transition: background, border-color 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
    &.ctrl {
        height: 2.85rem;
        width: 2.85rem;
        -webkit-text-fill-color: black;
        color: black;
        background: white;
        border: none;
        box-shadow: 0px 2px 8px -3px black;
        margin-bottom: 0.55rem;
    }
    &.grouped {
        box-shadow: none !important;
        margin: 0px;
        &:not(:first-of-type):not(:last-of-type) {
            border-radius: 0;
            border: solid lightgray;
            border-width: 0.1rem 0 0.1rem 0;
        }
        &:first-of-type {
            border-radius: 7px 7px 0 0;
        }
        &:last-of-type {
            border-radius: 0 0 7px 7px;
        }
    }
    svg {
        display: flex;
        pointer-events: none;
    }
    &:not(.no-interaction) {
        cursor: pointer;
    }
    &.dropdown-open {
        -webkit-text-fill-color: white;
        color: white;
        background: black;
        border-radius: 7px 0 0 7px;
        &::after {
            content: "";
            position: absolute;
            left: 100%;
            height: 2.85rem;
            width: 7px;
            background: black;
            box-shadow: 0px 2px 8px -3px black;
        }
    }
    &:not(.no-interaction):hover {
        -webkit-text-fill-color: grey;
        color: grey;
        background: rgb(240 240 250);
        border-color: grey;
    }
    &:not(.no-interaction):active {
        background: lightgray;
    }
}

.control-grp {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 2.85rem;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0px 2px 8px -3px black;
    &:not(:last-child) {
        margin-bottom: 0.55rem;
    }
}

#controls-top-left {
    display: flex;
    left: 0.55rem;
    transition: left 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 3.95rem;
    position: absolute;
    font-size: 1rem;
    flex-direction: column;
     :last-child {
        margin-bottom: 0px;
    }
    &.pane-open {
        @media only screen and (min-width: 576px) {
            left: calc(350px + 1.1rem);
            transition: left 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}

#controls-top-toolbar {
    display: flex;
    flex-direction: row;
    left: 0.55rem;
    top: 0.55rem;
    position: absolute;
    font-size: 1rem;
    width: calc(350px + 3.35rem);
    box-shadow: 0px 2px 8px -3px black;
    border-radius: 7px;
    height: 2.85rem;
    overflow: hidden;
    background: white;
    hr {
        margin: 0.5rem 0;
        height: unset;
        opacity: 1;
        border: solid lightgray;
        border-width: 0 0.5px 0 0;
    }
    .webmap-btn {
        margin: 0;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        &:first-of-type {
            border-radius: 7px 0 0 7px;
        }
        &:nth-of-type(3) {
            border-radius: 0 7px 7px 0;
        }
    }
    @media only screen and (max-width: 576px) {
        width: calc(100vw - 1.1rem);
    }
}

#controls-pane-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 350px;
    left: 0.55rem;
    top: 3.95rem;
    height: calc(100vh - 6.5rem);
    background: slategray;
    z-index: 300;
    border-radius: 7px;
    box-shadow: 0px 2px 8px -3px black;
    transition-property: width, flex, min-width, overflow, border-right;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    @media only screen and (max-width: 576px) {
        width: calc(100vw - 1.1rem);
    }
    .pane-section-container {
        display: none;
        height: calc(100% - 6rem);
        width: calc(100% - 1.5rem);
        font-size: 1rem;
        margin: 0.75rem;
        border-radius: 7px;
        flex-direction: column;
        background: white;
        padding: 0.75rem;
        overflow-y: auto;
        &.active {
            display: flex;
            animation-name: movein;
            animation-duration: 450ms;
        }
    }
    &.pane-hidden {
        width: 0rem;
        flex: 0 0 0%;
        min-width: 0rem;
        overflow: hidden;
        border-right: none;
        transition-property: width, flex, min-width, overflow, border-right;
        transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

#pane-section-title {
    -webkit-text-fill-color: white;
    color: white;
    margin: 0 0.75rem;
    padding: 0 0 0.25rem 0;
    text-transform: uppercase;
    font-weight: lighter;
    border-bottom: 0.1rem dotted white;
    line-height: 1.5rem;
}

#pane-sections {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    height: 4.5rem;
    div.pane-section {
        color: white;
        -webkit-text-fill-color: white;
        padding: 0.75rem;
        input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            cursor: pointer;
        }
        label.webmap-btn {
            font-size: 1.75rem;
            border-color: white;
        }
        input:checked~label.webmap-btn {
            background: rgb(240 240 250) !important;
            transition: background, color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
            color: black !important;
            -webkit-text-fill-color: black !important;
        }
    }
}

#pointer-tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0px 8px 8px 8px;
    padding: 0.2rem;
    transform: translate(66%, 140%);
    box-shadow: 0px 2px 8px -4px black;
}

.map-table {
    width: 100%;
    height: 100%;
    th {
        font-size: 1rem;
        font-weight: 500;
    }
    td {
        font-size: 0.85rem;
        padding: 0.15rem 0.33rem;
    }
    &.basic {
        text-align: center;
        border-spacing: 0.25rem;
        td {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }
    }
    &.attribute {
        border-collapse: collapse;
        th {
            background: rgba(0, 0, 0, 0.1);
        }
        .prop {
            width: 40%;
        }
        tr:not(:first-of-type):hover {
            background: aliceblue;
        }
    }
}

.search-element {
    display: flex;
    flex: 1 1 auto;
    border: none;
    justify-content: space-between;
    align-items: center;
    color: black;
    -webkit-text-fill-color: black;
    background: transparent !important;
    height: 4vh !important;
    border-radius: 0 !important;
    border: none;
    cursor: text;
    align-self: center;
    .search-icon {
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        color: black;
        -webkit-text-fill-color: black;
        height: calc(1rem + 0.5vh);
        width: 2.85rem;
        border: none;
        cursor: auto;
    }
    input {
        border: none;
        font-size: 1rem;
        flex: 1 1 auto;
        margin-right: 0.55rem;
        border: 1px solid transparent;
        &:focus-visible,
        &:active {
            outline: none;
            border-bottom: 1px solid lightgray;
        }
    }
    #search-clear {
        display: none;
    }
}

.autocomplete-items {
    position: fixed;
    top: 3.35rem;
    // left: calc(4.55rem + 2vh);
    left: 6.25rem;
    padding: 0.1rem 0.5rem;
    z-index: 350;
    background: white;
    box-shadow: 1px 3px 8px -4px black;
    border-radius: 0 0 7px 7px;
    border: 1.5px solid gray;
    border-top: none;
    div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        &.empty-results {
            cursor: auto;
        }
        &:not(.empty-results):hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }
    }
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.layersmanager-list {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.layersmanager-control {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
    .webmap-btn {
        font-size: 1.2rem;
        padding: 0.2rem;
    }
    .layer-sort-control {
        flex: 0 1 30%;
    }
}

.layersmanager-item {
    display: flex;
    align-items: center;
    border-top: 0.5px solid lightgray;
    flex-wrap: wrap;
    padding: 0.25rem 0;
    &.hidden {
        display: none;
    }
    &:not(.hidden):first-of-type {
        border-top: none !important;
    }
    .layersmanager-item-label {
        cursor: pointer;
        flex: 1 1 auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .group {
            font-size: 0.66rem;
            font-weight: bold;
            color: rgb(148, 160, 172);
            text-transform: uppercase;
        }
    }
    .layersmanager-item-info {
        font-size: 1rem;
        -webkit-text-fill-color: slategray;
        color: slategray;
    }
    input {
        cursor: pointer;
        margin: 0 0.75rem;
    }
    &:hover {
        background: rgb(240 240 250) !important;
        transition: background 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .layersmanager-item-legend {
        flex: 1 1 100%;
        max-width: 100%;
        overflow: hidden;
        summary {
            max-width: 100%;
        }
        p {
            width: 100%;
            white-space: pre-line;
            word-break: break-all;
        }
    }
}

input.hide-input,
.hide-input input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

.input-field-group {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin: 0.15rem;
    &.full-width {
        flex: 1 1 100%;
    }
    label:not(.webmap-btn) {
        cursor: pointer;
        color: lightgray;
        -webkit-text-fill-color: lightgray;
        background: transparent;
        border: 0.15rem solid lightgray;
        padding: 0.15rem;
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        border-radius: 0.25rem;
        svg {
            pointer-events: none;
            display: flex;
        }
        &:hover {
            color: grey;
            -webkit-text-fill-color: grey;
            border-color: grey;
        }
        &:active {
            background: lightgray;
        }
    }
    input:checked~label {
        color: black;
        -webkit-text-fill-color: black;
        border-color: black;
    }
    select {
        border-radius: 0.25rem;
        padding: 0.2rem;
        border: none;
        background: rgb(225, 225, 225);
        flex: 1 1 auto;
    }
}

#toast-element {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 400;
    bottom: 2.55rem;
    left: 0.55rem;
    right: 0.55rem;
    &.warning .toast-container {
        background: salmon !important;
    }
    &.info .toast-container {
        background: rgb(135, 206, 250) !important;
    }
}

.toast-container {
    border-radius: 0.4rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 1.1rem);
    pointer-events: fill;
    background: white;
    border: 0.15rem solid black;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toast-header {
    display: flex;
    align-items: center;
    font-weight: 600;
    .toast-icon {
        color: black;
        -webkit-text-fill-color: black;
    }
    .webmap-btn {
        border: none;
        padding: 0.3rem;
    }
    .toast-title {
        font-size: 1.1rem;
        padding: 0 1rem;
        border-right: 0.1rem solid;
    }
}

.toast-body {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0.1rem;
    flex-direction: row;
    border-radius: 0.2rem;
    justify-content: center;
    background: rgb(198, 204, 210);
    margin-top: 0.25rem;
    .webmap-btn {
        font-size: 1.2rem;
    }
}

#toast-timer {
    width: 100%;
    height: 0.5rem;
    background: white;
    border-radius: 1rem;
    margin: 0.5rem 0 0 0;
    border: 0.1rem solid lightgray;
    div {
        height: 100%;
        width: 0%;
        background: lightgray;
        border-radius: 1rem;
        transform-origin: 0% 50%;
        animation-timing-function: linear;
    }
}

#modal-element {
    position: fixed;
    display: flex;
    bottom: 2.55rem;
    left: 0.55rem;
    right: 0.55rem;
    &.feature {
        z-index: 250;
        justify-content: flex-end;
    }
    &.info {
        z-index: 500;
        background: rgb(135, 206, 250) !important;
    }
}

.modal-container {
    border-radius: 0.3rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: fill;
    background: white;
    border: 0.25rem solid lightgrey;
    box-shadow: 0px 2px 8px -3px black;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    max-width: calc(100vw - 1.65rem - 350px);
    max-height: 50vh;
    width: 30rem;
    @media only screen and (max-width: 576px) {
        max-width: unset;
        width: calc(100vw - 1.1rem);
    }
}

.modal-header {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: 0.1rem solid lightgray;
    .webmap-btn {
        align-self: flex-start;
    }
    h3 {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        font-size: 1.1rem;
        font-weight: normal;
        margin: 0;
        padding: 0.5rem;
        span:nth-of-type(2) {
            -webkit-text-fill-color: #94a0ac;
            color: #94a0ac;
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.modal-body {
    display: flex;
    align-self: stretch;
    padding: 0.5rem;
    flex-direction: column;
    p {
        margin: 0.15rem 0 0.5rem 0;
    }
    .webmap-btn {
        font-size: 1.2rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes movein {
    0% {
        opacity: 0;
        overflow-y: hidden;
    }
    100% {
        opacity: 1;
        overflow-y: auto;
    }
}