.modal-container {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    padding: 0.55em 0.55em 2.55em 0.55em;
    &.--hidden {
        display: none;
    }
    &.--dialog {
        z-index: $z-index-modal-dialog;
        top: 0;
        height: 100%;
        align-items: center;
        justify-content: center;
        animation-name: fadeIn;
        animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        background: rgba(0, 0, 0, 0.3);
        .input-field-group {
            border: none;
        }
    }
    &.--feature {
        bottom: 0;
        z-index: $z-index-modals-feature;
        justify-content: flex-end;
        pointer-events: none !important;
    }
    @keyframes fadeIn {
        0% {
            background: rgba(0, 0, 0, 0);
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.modal {
    display: flex;
    border-radius: 0.3rem;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    pointer-events: fill;
    background: white;
    border: 0.25rem solid lightgrey;
    box-shadow: 0px 2px 8px -3px black;
    // animation-name: fadeIn;
    // animation-duration: 500ms;
    // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    max-width: calc(100vw - 1.65rem - 350px);
    max-height: 100%;
    width: 30rem;
    @media only screen and (max-width: 576px) {
        max-width: unset;
        width: calc(100vw - 1.1rem);
    }
}

.modal-header {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: 0.1rem solid lightgray;
    padding-bottom: 0.5rem;
    .map-btn {
        align-self: flex-start;
    }
}

.modal-body {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    margin: 0.5rem 0;
    overflow-y: auto;
}

.modal-actions {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    background: rgb(233, 233, 237);
    border-radius: 0.5em;
    overflow: hidden;
}