.tippy-box[data-theme~='map-light'] {
    box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 0.5em;
    background: white;
    .tippy-content {
        padding: 0.3em 0.5em;
    }
}

.tippy-dropdown {
    display: flex;
    flex-direction: column;
}

.tippy-dropdown>button {
    text-align: center;
    height: 2.5em;
    padding: 0.25em;
    font-size: 1em;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    &::before {
        content: "\25CC";
        font-size: 1.25em;
        margin-right: 0.15em;
    }
    &:hover {
        &::before {
            content: "\25CB";
        }
    }
    &[data-active~='true'] {
        &::before {
            content: "\25CF";
        }
    }
    &:active {
        color: grey;
        -webkit-text-fill-color: grey;
    }
}